<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <title>REGISTER PAGE</title>


</head>
<body>
    <div class="container">
        <div class="logo">
            <img class="logo1"  src="../img/logo_transparent.svg">
            <img class="logo2"  src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form>
                <b class="text">E-mail</b>
                <input name="email" type="text" placeholder="email@email.com">
                <b class="text">Password</b>
                <input name="password" type="text" placeholder="*********">
                <b class="text">Repeat password</b>
                <input name="password2" type="text" placeholder="*********">
                <button class="register-button">Register</button>
                <button class="login-button">Login</button>
             </form>
        </div>
    </div>
</body>