html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding:0px;
 }
 
 body {
    margin: 0px;
    padding:0px;
    min-height: 100%;
    width: 100%;
    overflow-y: hidden;
 }
 .container{
    width:100%;
    height:100vh;
    align-items: center;
    background: linear-gradient(242.92deg, rgba(188, 205, 219, 0.89) 0.71%, rgba(166, 174, 196, 0.89) 100%);
 }
.nav-button{
    width:100%;
}
.first-text{
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}
.secondary-text{
    font-family:'Inter';
    font-style:normal;
    font-size:15px;
}
.name-text{
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}
#admin{
/*   switch pomiedzy block a flex*/
}
img{
    height:50%;
}
@media only screen and (max-device-width: 800px){
   .open-nav>img{
    width:50px;
   }
   img{
       height:30%;
   }
   .text{
    font-size:16px;
   }
   header .main-text{
       font-size:30px;
   }
   .first-text{
       font-size:20px;
   }
   .main-panel{
       display:flex;
   }
   .main-panel b{
       flex-wrap:wrap;
       padding: 0 5%;
   }
   .first-text{
       font-size: 16px;
   }
   .secondary-text{
       font-size: 14px;
   }
}
