html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding:0px;
 }
 
 body {
    margin: 0px;
    padding:0px;
    min-height: 100%;
    width: 100%;
    overflow-y: hidden;
 }
 .container{
    width:100%;
    height:100vh;
    align-items: center;
    background: linear-gradient(242.92deg, rgba(188, 205, 219, 0.89) 0.71%, rgba(166, 174, 196, 0.89) 100%);
 }
.nav-button{
    width:100%;
}
.text{
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}
.secondary-text{
    font-family:'Inter';
    font-style:normal;
    font-size:15px;
}

@media only screen and (max-device-width: 420px){
   .main-text{
        font-size:36px;
   }
   .open-nav>img{
    width:50px;
   }
   .text{
    font-size:16px;
   }
   .main-panel{
    width: 100%;
    height: 100%;
   }
   .container nav{
    width: fit-content;
   }
   .nav-text{
        font-size:16px;
   }
   label[for="profile-picture"]>img{
    width: 50%;
   }
}
