body{
    overflow:hidden;
}
.main-panel{
    display:flex;
    flex-direction:column;
    width: 100%;
    height:100vh;
}
label[for="header"]{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label[for="header"]>img{
    width:50%;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:20rem;
    /* padding: 2rem 0; */
    background: #DBEBF0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    /* margin-right:5rem; */
}
.settings-text{
    font-family: 'Inter';
    font-style: normal;
    font-size:  36px;
    line-height: 58px;
    font-weight: 200;
}
.account{
    display:flex;
    justify-content: space-around;
    margin-top:4%;
    width:100%;
    height: 50%;
}

.main-panel>header{
    align-self: center;
}
.account>.change-password{
    width:40%;
}

.button{
    box-sizing: border-box;
    background: #7BB4C4;
    border: 2px solid #000000;
    border-radius: 30px;
    cursor:pointer;
    height:3em;
    font-family: 'Inter';
    font-style: normal;
    line-height: 24px;
    font-size:16px;
    font-weight: 700;
    margin-top:3%;
    width:50%;
}
.button:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}
input{

    background-color: transparent;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    border-width: 4px;
    height: 2vh;
    width: 60%;
    text-align: center;
    border: 3px solid black;

    font-family: 'Inter';
    font-style: normal;
}
.ttext{
    font-size:30px;
}
@media only screen and (max-device-width: 800px){
    .container{
        flex-direction:column;
    }
    .main-text{
        font-size:30px;
    }
    .ttext{
        font-size:25px;
    }
    .account>.change-password{
        width:90%;
    }
}
