html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding:0px;
 }
 
 body {
    margin: 0px;
    padding:0px;
    min-height: 100%;
    width: 100%;
 }

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(242.92deg, rgba(188, 205, 219, 0.89) 0.71%, rgba(166, 174, 196, 0.89) 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 40%;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

form{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 44vh; */
    padding: 2rem 0;


    background: #DBEBF0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
   
}

.login-button{

    background: #7BB4C4;
    border-radius: 30px;

    width: 68%;
    height: 6vh;
    border: none;
    color: black;
    margin: 1em;

    line-height: 24px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    cursor:pointer;
}

.login-button:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}
.register-button{

    background: #D9D9D9;
    border-radius: 30px;

    width: 40%;
    height: 4vh;
    border: none;
    color: black;
    margin: 1em;
    

    line-height: 24px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    cursor:pointer;
}

.register-button:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    
}

input{

    background-color: transparent;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    border-width: 4px;
    height: 2vh;
    width: 60%;
    text-align: center;
    border: 3px solid black;

    font-family: 'Inter';
    font-style: normal;
}

.text{
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}
@media only screen and (max-device-width: 420px){
    .container{
        flex-direction:column;
    }
    *{
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }
    form{
        
        margin: auto;
    }
    img{
        margin-left: 4.5em;
        margin-right: 4.5em;
        margin-bottom: 0;
    }
    .logo2{
        position: relative;
        bottom: 100px;
    }
    .register-button{
        height: 50px;
    }
    .login-button{
        height: 100px;
    }
    input{
        padding: 25px;
    }
}